@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@400;600&family=Dancing+Script:wght@400;500&family=Fasthand&family=Open+Sans&family=Pacifico&family=Ysabeau+SC:wght@600&display=swap');
.navbar-brand{
    font-family: 'Allura', cursive;
}
.nav-link:hover{
    border-bottom:2px solid rgb(242, 242, 8) ;
    transition: .1s;
}
    
.navbar-nav {
    font-family: 'Caveat', cursive;

}
.carousel-item1 {
   
    background-size: cover;
}
body{
    background-color: black;
}
.d-block{
    height: 100px;
    width: 100PX;
    margin-left: 50PX;
}
.banner{
    color: yellow;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    font-size: 29px;
    /* margin-bottom: 50px;
    margin-left: 198px;
    margin-top: 244px; */

    
}
.p1{
    color: white;
    font-size: x-large;
    font-weight: 100;
    font-style: normal;
    /* margin-bottom: 50px;
    margin-left: 198px;
    margin-top: -32px; */
}
.div2{
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top:100px ;
    height: 50px;
    width: 50px;
    
}
/* .img-fluid{
    height: 162px;
    width: 175px;
    margin-top: -464px;
    margin-left: 883px;
    border-radius: 81px;
} */
.b1{
    background-color: orange;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.left-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.right-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.right-box img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}
.p2{
    color: white;
    font-size: x-large;
    font-weight: 100;
    font-style: normal;
    margin-top: 68px;
    margin-left: -16px;
}
.about{
    color:yellow ;
    margin-top:258px;
    margin-left: 226px;
    font-weight: 800;
    font-size: x-large;
    font-style: normal;

    
}
.img2{
    margin-top: 259px;
    margin-bottom: 50px;
    margin-left: 50px;
    height: 366px;
    width: 385px;
}

.contact-section {
    margin-top: 60px;
    background-color: rgb(14 12 12 / 47%);
    margin-top: 214px;
}
.footer {
    /* position: relative; */
    padding-top: 10px;
}
.text-center {
    text-align: center!important;
}


@media(max-width=540){
    .left-box1{
        margin-left: 100px;
    }
}

@media (max-width: 767.98px) {
    .text-center {
      text-align: center;
    }
  }
  .text-uppercase{
color: white;
  }

.footer-content{
    margin-top: 50px;
}